body {
  background: url("https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat top center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#header {
  height: 92px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2.5em;
  line-height: 117px;
  background-color: rgba(255,255,255,.9);
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  color: #B32300;
}

#header-link {
  color: #B32300;
  text-decoration: none;
}

#header h1 {
  margin: 0;
  padding-left: 30px;
}

#header-link:hover {
  color: black;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  background-color: blue;
  height: 100px;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(-100);
}
.headroom--scrolled {
  transition: transform 5000ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
  display: none;
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

form {
  height: 254px;
  width: 43%;
  background-color: #FFF9F7;
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

 #restaurant {
  height: 50px;
  width: 250px;
  margin-top: 20px;
  margin-left: 3px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
} 

#location {
  height: 50px;
  width: 250px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
}

select {
  width: 40%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
}

 button {
  width: 450px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 30px;
}

button:hover {
  border: 4px solid black;
}

#suggestions {
display: grid;
grid-template-columns: 1fr 1fr 1fr; 
grid-column-gap: 5px; 
grid-row-gap: 5px;
background-color: #FFF9F7;
margin-top: 30px;
}

.on-load-results {
  box-shadow: 5px 10px 5px grey;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  font-family: 'Quattrocento Sans', sans-serif;
}

.on-load-results img {
  width: 100%;
}

.on-load-results h4 {
  display: inline;
}

.on-load-results h1, p {
  margin: 0;
}

#results-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  background-color: #FFF9F7;
  
}

.search-results {
  width: 80%;
  background-color: white;
  justify-self: center;
  font-family: 'Quattrocento Sans', sans-serif;
}
.search-results img {
  width: 100%;
}