body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#header {
  height: 92px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2.5em;
  line-height: 117px;
  background-color: rgba(255,255,255,.9);
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  color: #B32300;
}

#header-link {
  color: #B32300;
  text-decoration: none;
}

#header h1 {
  margin: 0;
  padding-left: 30px;
}

#header-link:hover {
  color: black;
}

#home-search form {
  height: 254px;
  width: 43%;
  background-color: #FFF9F7;
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

 #restaurant {
   height: 50px;
   width: 250px;
  margin-top: 20px;
  margin-left: 3px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  outline: none;
} 

#location {
  height: 50px;
  width: 250px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  outline: none;
}

#home-search select {
  width: 40%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  outline: none;
}

#home-search button {
  width: 450px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 30px;
  outline: none;
}

#home-search button:hover {
  border: 4px solid black;
}

#suggestions {
display: grid;
grid-template-columns: 1fr 1fr 1fr; 
grid-column-gap: 5px; 
grid-row-gap: 5px;
background-color: #FFF9F7;
margin-top: 30px;
}

.on-load-results {
  box-shadow: 5px 0px 5px grey;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-top: 5px;
}

.on-load-results img {
  width: 100%;
}

.on-load-results h4 {
  display: inline;
}

.on-load-results h1, p {
  margin: 0;
}

#results-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  background-color: #FFF9F7;
  
}

.search-results {
  width: 80%;
  background-color: white;
  justify-self: center;
  font-family: 'Quattrocento Sans', sans-serif;
}
.search-results img {
  width: 100%;
}

#header-two {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: rgba(179,35,0,.9);
  border-radius: 10px 30px 50px;
}

#header-two-form {
  display: grid;
  grid-template-columns: 20% 20% 10% 20%;
  margin-top: 20px;
  margin-left: 299px;
}

#header-two-form input {
  width: 183px;
  line-height: 35px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: .9em;
  outline: none;
}

#header-two-form-button {
  padding: 0px;
  margin-left: 60px;
  width: 140px;
  border-radius: 5px;
  font-size: 1.5em;
  outline: none;
}

#header-two-form-button:hover {
  border: 2px solid black;
}

.header-two-select {
  height: 41px;
  border: 2px solid black;
  font-size: 1em;
  outline: none;
}

footer {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer div {
  display: flex;
  flex-direction: row;
  width: 89px;
  justify-content: space-around;
  margin-top: 5px;
}

footer img {
  width: 20px;
}

@media only screen and (max-width:375px) {
  header {
    grid-template-columns: 76% 0% !important;
  }

  #header h1 {
    font-size: 1em;
    padding-left: 10px;
  }

  #header-link {
    font-size: .8em;
  }

  #home-search form {
    width: 86%;
    margin-left: 10px;
  }

  #home-search button {
    width: 194px;
    background-color: rgba(179,35,0,.9);
  }

  #location {
    margin-top: 0px;
  }

  #header-two {
    background-color: rgba(0,3,0,.9);
  }

  #header-two-form {
    display: grid;
    grid-template-columns: 34% 34% 31%;
    margin-top: 20px;
    margin-left: 4px;
  }

  #header-two-form input {
    width: 100px;
    margin-left: 10px;
  }
  
  #header-two-form-button {
    width: 87px;
    margin-left: 270px;
    margin-top: 5px;
    background-color: white;
  }
  
  #suggestions {
    grid-template-columns: 1fr;
  }

  #results-page {
    grid-template-columns: 1fr;
  }
}